{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}


    <!-- fixed by using version 2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <div><canvas id="barChart" width="400" height="100"></canvas></div>
    <div><canvas id="pieChart" width="400" height="100"></canvas></div>
    <canvas id="bar-chart-grouped" width="800" height="450"></canvas>

    <!-- bar chart -->
    <script>
        var ctx = document.getElementById('barChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <!-- pie chart -->
    <script>
        var ctx = document.getElementById('pieChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["assigned", "in-progress", "resolved"],
                datasets: [
                    {
                        label: "Issue Count by Status",
                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                        data: ["{{assigned}}", "{{in_progress}}", "{{resolved}}"]
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                        text: 'Status of All Issues'
                    }
                }
        });
    </script>

    <!-- two variable bar chart -->
    <!-- priority = labels, types are the two data fields -->
    <script>
        var ctx = document.getElementById('barChart').getContext('2d');
        var myChart = new Chart(document.getElementById("bar-chart-grouped"), {
            type: 'bar',
            data: {
              labels: ["minor", "major", "blocker"],
              datasets: [
                {
                  label: "task",
                  backgroundColor: "#3e95cd",
                  data: [{{minor_task}}, {{major_task}}, {{blocker_task}}]
                }, {
                  label: "bug",
                  backgroundColor: "#8e5ea2",
                  data: [{{minor_bug}}, {{major_bug}}, {{blocker_bug}}]
                }
              ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 1,
                            beginAtZero: true
                        }
                    }]
                },
              title: {
                display: true,
                text: 'Unresolved Issue Types by Priority'
              }
            }
        });
    </script>
{% endblock content %}
