{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>{{issue.project.name}}</h3>
    <p>Type: {{issue.type}}</p>
    <a href="/media/media/confused-woman-meme_ZHvXPvI.png">File 1</a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ file_form.as_p }}
        <button type="submit", name="upload", value="upload", class="btn btn-success">Upload File</button>
    </form>
    <form method="POST">
        {% csrf_token %}
        {{comment_form.as_p}}
        <button type="submit", name="save", value="save", class="btn btn-success">Comment</button>
    </form>
    {% for comment in issue.comments.all %}
        <p>{{comment.author.username}}</p>
        <p>{{comment.content}}</p>
    {% endfor %}
{% endblock %}
