{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <h3>{{issue.project.name}}</h3>
    <p>Type: {{issue.type}}</p>
    {% for file in all_files %}
        {% if file.file_name in issue.files %}
            <a href="{{file.file.url}}" download>{{file.file_name}}<br></a>
        {% endif %}
    {% endfor %}

    <!-- delete button -->
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="delete" value="delete" onclick="return confirm('Are you sure you want to delete this issue?')" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
    </form>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ file_form.as_p }}
        <button type="submit", name="upload", value="upload", class="btn btn-success">Upload File</button>
    </form>
    <form method="POST">
        {% csrf_token %}
        {{comment_form.as_p}}
        <button type="submit", name="save", value="save", class="btn btn-success">Comment</button>
    </form>
    {% for comment in issue.comments.all %}
        <p>{{comment.author.username}}</p>
        <p>{{comment.content}}</p>
    {% endfor %}
{% endblock %}
