{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <style type="text/css">
        .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: black;
                opacity: 1; /* Firefox */
        }
        .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: black;
        }

        .form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: black;
        }
        .form-control {
            border: 0;
            color: black;
            opacity: 1; /* Firefox */
        }
    </style>

    <!-- display issue contents with inline editing capability -->
    <form method="post" action="" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="name" style="font-size:2vw" novalidate class="form-control" id="exampleProjectName1" aria-describedby="nameHelp" placeholder="{{issue.project.name}}">
            <input type="text" name="summary" style="font-size:1vw" novalidate class="form-control" id="exampleIssueSummary1" aria-describedby="summaryHelp" placeholder="{{issue.summary}}">
            <input type="text" name="description" style="font-size:1vw" novalidate class="form-control" id="exampleIssueDescription1" aria-describedby="descriptionHelp" placeholder="{{issue.description}}">

            <select name="type" class="selectpicker">
                {% for type in types  %}
                    {% if type == issue.type %}
                        <option name="{{type}}" selected>{{type}}</option>
                    {% else %}
                        <option name="{{type}}">{{type}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

            <select name="priority" class="selectpicker">
                {% if issue.priority == "minor" %}
                    <option name="minor" selected>minor</option>
                    <option name="major">major</option>
                    <option name="blocker">blocker</option>
                {% elif issue.priority == "major" %}
                    <option name="minor">minor</option>
                    <option name="major" selected>major</option>
                    <option name="blocker">blocker</option>
                {% else %}
                    <option name="minor">minor</option>
                    <option name="major">major</option>
                    <option name="blocker" selected>blocker</option>
                {% endif %}
            </select>
            <br>

            <select class="selectpicker" name="assignee" data-live-search="true">
                {% for member in issue.project.members %}
                    {% if member == issue.assignee.username %}
                        <option name="{{member.username}}" selected>{{member}}</option>
                    {% else %}
                        <option name="{{member.username}}">{{member}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

            <select class="selectpicker" name="status">
                {% for status in statuses %}
                    {% if status == issue.status %}
                        <option name="{{status}}" selected>{{status}}</option>
                    {% else %}
                        <option name="{{status}}">{{status}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

            <button type="submit", name="save-changes", value="save-changes", class="btn btn-secondary">Save Changes</button>
    </form>

    {% for file in all_files %}
        {% if file.file_name in issue.files %}
            <a href="{{file.file.url}}" download>{{file.file_name}}<br></a>
        {% endif %}
    {% endfor %}

    <!-- delete button -->
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="delete" value="delete" onclick="return confirm('Are you sure you want to delete this issue?')" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
    </form>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ file_form.as_p }}
        <button type="submit", name="upload", value="upload", class="btn btn-success">Upload File</button>
    </form>
    <form method="POST">
        {% csrf_token %}
        {{comment_form.as_p}}
        <button type="submit", name="comment", value="save", class="btn btn-success">Comment</button>
    </form>
    {% for comment in issue.comments.all %}
        <p>{{comment.author.username}}</p>
        <p>{{comment.content}}</p>
    {% endfor %}
{% endblock %}
