{% extends "main/base.html" %}

{% block title %}
Project
{% endblock %}

{% block content %}
    <h3>Create Project</h3>
    {% if user.is_authenticated %}
        <br>
        <form method="post" action="" class="form-group">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleProjectName1">Name</label>
                <input type="text" name="name" class="form-control" id="exampleProjectName1" aria-describedby="nameHelp" placeholder="Enter a project name">
            </div>
            <div class="form-group">
                <label for="exampleProjectDescription1">Description</label>
                <input type="text" name="description" class="form-control" id="exampleDescriptionName1" aria-describedby="descriptionHelp" placeholder="Describe your project">
            </div>
            <label for="exampleMember1">Members</label>
            <br>
            <select class="selectpicker" name="members" id="members" multiple title="Select members..." multiple data-live-search="true">
                {% for user in users %}
                    <option value="{{user.username}}">{{user}}</option>
                {% endfor %}
            </select>
            <br></br>
            <button type="submit", name="save", value="save", class="btn btn-success">Save</button>
        </form>
    {% else %}
            <p>Login <a href="/login">here.</a></p>
    {% endif %}
{% endblock %}
