{% extends "main/base.html" %}

{% block title %}
Project
{% endblock %}

{% block content %}
    <h3>Create Project</h3>
    {% if user.is_authenticated %}
    <form method="post" action="/create/" class="form-group">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group.append">
                    <p>Name: {{form.name}} </p>
                    <p>Description: {{form.description}}</p>
                    <button type="submit", name="save" class="btn btn-success">Create Project</button>
                </div>
            </div>
        </form>
    {% else %}
            <p>Login <a href="/login">here.</a></p>
    {% endif %}
{% endblock %}
