{% extends "main/base.html" %}



{% block content %}

    <style type="text/css">
        .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: black;
                opacity: 1; /* Firefox */
        }
        .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: black;
        }

        .form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: black;
        }
        .form-control {
            border: 0;
            color: black;
            opacity: 1; /* Firefox */
        }
    </style>

    <form method="post" action="" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="name" style="font-size:2vw" novalidate class="form-control" id="exampleProjectName1" aria-describedby="nameHelp" placeholder="{{project.name}}">
        </div>
        <div class="form-group">
            <input type="text" name="description" style="font-size:1vw" novalidate class="form-control" id="exampleDescriptionName1" aria-describedby="descriptionHelp" placeholder="{{project.description}}">
        </div>
        <select class="selectpicker" name="members" id="members" multiple title="Select members..." multiple data-live-search="true">
            {% for user in users %}
                {% if user.username in project.members %}
                    <option value="{{user.username}}" selected>{{user}}</option>
                {% else %}
                    <option value="{{user.username}}">{{user}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br></br>
        <button type="submit", name="save-changes", value="save-changes", class="btn btn-secondary">Save Changes</button>

        <!-- delete button -->
        <button type="submit" name="delete" value="delete" onclick="return confirm('Are you sure you want to delete this project?')" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>

    </form>

    {% for issue in project.issue_set.all %}
        <a href="/project/{{project.id}}/issue/{{issue.id}}" class="btn btn-warning" role="button">{{issue.id}}</a>
        <br>
    {% endfor %}
    <br>
    <a href="/project/{{project.id}}/issue/" class="btn btn-info" role="button">Create Issue</a>




{% endblock %}
