{% extends "main/base.html" %}

{% block title %}
My Projects
{% endblock %}

{% block content %}
    <h1 class="display-3">My Projects</h1>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for p in projects %}
                <tr style="transform: rotate(0);">
                <th style="font-weight:normal" scope="row"><a href="/project/{{p.id}}" class="stretched-link"></a>{{p.name}}</th>
                    <td>{{p.description}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
